# Diretórios do build
/bin/
/target/
/out/

# Arquivos de IDEs
/.idea/
/*.iml
/.vscode/
/*.class
*.jar
*.war
*.ear
*.db

# Arquivos de configuração do Maven
/.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# Arquivos de configuração do Gradle
.gradle/
build/
gradle-app.setting
.gradle/

# Logs
*.log

# Diretórios de dependências do Maven e Gradle
/.m2/repository/
/.gradle/

# Diretórios de testes
/test-output/
test-classes/

# Arquivos de configuração do Eclipse
.classpath
.project
.settings/

# Arquivos de configuração do NetBeans
/nbproject/private/
/nbproject/Makefile-Release.mk
/nbproject/Makefile-Debug.mk
/nbproject/project.xml
/nbproject/Makefile.mk

# Arquivos temporários
*.tmp
*.temp
*.swp
*.swo
*~

# Arquivos de cache
*.cache
*.class
*.log
/.gradle/
/out/

# Arquivos de banco de dados
*.sql
*.db

# Arquivos de configuração de ambiente
.env

# Configurações do sistema operacional
.DS_Store
Thumbs.db